body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 62.5%;
  width: 414px;
}
img {
  height:100%;
  width:100%;
}
section {
  background-color:#f2f2f7;
}
nav {
  display:flex;
  padding: 2vh 0 2vh;
  border-bottom: solid 0.1vh #b3b3b3;
}
a {
  color:#0a84ff;
  padding: 0 1vh 0;
  font-weight:lighter;
}
i {
  margin:1.5vh 0.75vh 0 0;
}
h1 {
  padding-left: 5vh;
  font-weight:500;
}
h1,a{
  font-size: 2vh;
  display:flex;
}
h2 {
  color: #636366;
  font-size:2vh;
  text-transform:uppercase;
  text-align:left;
  padding: 1vh 2vh;
  margin-top: 4vh;
}
ol>li ul {
  display: flex;
  justify-content: space-between;
}
h3 {
  width: 170px;
  margin-top: 1.5vh;
}
h4 {
  width: 140px;
  text-align: center;
  padding:28px 5px 0 0;
}
/*h3,h4{
  margin-top: 1.5vh;
}*/
h5 {
  text-transform: uppercase;
  color: #636366;
  font-size:1.5vh;
}
ul {
  font-size: 2vh;
  padding: 1vh 0;
  background-color: #fff;
}
ul i {
  padding-top: 1.8vh;
  margin-right: 2vh;
  color: #aeaeb2;
}
span {
  color: #fff;
  float:left;
  font-size: 2.25vh;
  width: 5vh;
  text-align: center;
  padding-top: 3vh;
  margin-left: 2vh;
}
.border {
  border-bottom: solid 0.2vh #c7c7cc;
}
.circle {
  background: #007aff;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  margin:1.5vh 2vh;
}
ul:hover {
  background-color: #d1d1d6}
}
